#brandLogo{
    height: 30px;
    width: 100px;
}

.navbar-colors{
    background-color:rgb(215, 246, 255) ;
    /* background-color: rgba(245, 245, 245,1); */
}

.dark-background{
    color: rgb(223, 223, 217);
    background-color:rgb(215, 246, 255) ;
}

.btn{
    outline: none;
}

.btn-light{
    background-color: rgb(255, 136, 0);
    border-radius: 80px;
    color: whitesmoke;
    outline:none;
}

.btn:hover{
    background-color: rgb(255, 136, 0);
    transition: 500ms;
}

#mainLandingPageImage{
    display: block;
    margin: auto;
    margin-top:8rem;
    width: 75%;
    /* padding: auto 200px; */
    height: auto;
}

#wholeBody{
    line-height: 1.95rem;
    padding-left: 0;
    padding-right: 0;
}

#mainLandingPage{
    /* height: 830px; */
    height: 100vh;
    /* width: 500px; */
}

.fas{
    color: rgb(2, 13, 37);
}

.navbar-brand:hover{
    color:rgb(2, 13, 37);
    font-weight: 600;
    transition: 300ms;
}

.navbar-brand{
    color:rgb(255, 136, 0);
}

.checkmark{
    float: left;
    margin-right: 5px;
}

.list{
    padding-left:5px;
}

#mainNavbar{
    letter-spacing: 2px;
}

.nav-link:hover{
    /* background-color:whitesmoke; */
    color: rgb(2, 13, 37);
    /* color:whitesmoke; */
    border-radius: 50%;
    font-weight: 600;
    transition: 300ms;
}

.nav-link{
    color:rgb(255, 136, 0);
    margin-right: 2.5rem;
}

.productBrand{
    text-transform: uppercase;
}

body{
    font-family: 'Nunito', sans-serif;
    /* margin:4rem; */
    background-color: whitesmoke;
    color:rgb(2, 13, 37) ;
    /* background-color: whitesmoke; */
}

.scrolled{
    background-color: whitesmoke;
    color:#cf670c ;
}

.container-fluid{
    height: 100%;
}

.card{
    background-color: whitesmoke;
    border: none;
    margin: auto;
}

.contactIcons{
    color: rgb(255, 136, 0);
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.contactIcons:hover{
    color: rgb(2, 13, 37);
}

#foundersContent{
    display: none;
}

.insideCol{
    margin-top: 1.5rem;
    background-color: white;
    width: 75%;
}

#mentorsContent{
    display: none;
}

hr.style-quarter{
    width: 25%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 136, 0, 0), rgba(255, 136, 0, 0.75), rgba(255, 136, 0, 0));
}

.headings{
    color: rgb(255, 136, 0);
}

hr.style {
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 136, 0, 0), rgba(255, 136, 0, 0.75), rgba(255, 136, 0, 0));
}
hr.style-half {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 136, 0, 0), rgba(255, 136, 0, 0.75), rgba(255, 136, 0, 0));
}

.carousel-indicators li{
    background-color: black;
}

.card-img-top{
    border-radius: 30%;
    width:200px;
    height:250px;
}

.name{
    font-weight: 800;
    font-size: 1.25rem;
}
.otherContent{
    font-size: 1.15rem;
}
